{% extends "blog/base.html" %} {% block content %}
<div>
  <div>
    <article class="media content-section">
      <img
        class="rounded-circle article-img"
        src="{{object.author.profile.image.url}}"
      />
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}"
            >{{ object.author }}</a
          >
          <small class="text-muted"
            >{{ object.date_posted|date:"d F, Y" }}</small
          >
          <div>
            {% if object.author == user %}
            <a
              href="{% url 'post-update' object.id %}"
              class="btn btn-secondary btn-sm mt-1 mb-1"
            >
              Update</a
            >
            <a
              href="{% url 'post-delete' object.id %}"
              class="btn btn-danger btn-sm mt-1 mb-1"
            >
              Delete</a
            >
            {% endif %}
          </div>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <hr />
        <h4>Comments</h4>
        {% for comment in object.comments.all %}
        <div class="container">
          <div class="row">
            <div class="col-8">
              <a href="#">{{comment.author}}</a> :{{ comment.text }}
            </div>
            <div class="col ml-4">
              {% if comment.author == user %}
              <a
                href="{% url 'comment-delete' comment.pk %}"
                class="btn btn-danger btn-sm mt-1 mb-1"
              >
                Delete</a
              >
              {% endif %}
            </div>
          </div>
          <hr />
        </div>
        {% empty %}
        <p>No comments here yet :(</p>
        {% endfor %}
        <a
          href="{% url 'add-comment' object.id %}"
          class="btn btn-primary btn-sm mt-1 mb-1"
          >Add Comment</a
        >
      </div>
    </article>
  </div>
</div>
{% endblock content%}
